# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
#from st import sem

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)



# Combine the data into a single dataset
data_df = pd.merge(mouse_metadata, study_results, on=("Mouse ID"))

# Display the data table for preview
data_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Checking the number of mice.
len(pd.unique(data_df["Mouse ID"]))

249

In [7]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
drop_mouse_id = data_df.loc[data_df.duplicated(subset=['Mouse ID', 'Timepoint',]),'Mouse ID'].unique()

drop_mouse_id

array(['g989'], dtype=object)

In [8]:
# Optional: Get all the data for the duplicate mouse ID.
unique_mouse = data_df.loc[data_df["Mouse ID"] == "g989"]
unique_mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [9]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data_df = data_df[data_df['Mouse ID'].isin(drop_mouse_id)==False]

clean_data_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [10]:
# Checking the number of mice in the clean DataFrame.
len(pd.unique(clean_data_df["Mouse ID"]))

248

## Summary Statistics

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
tumor_mean = clean_data_df.groupby(['Drug Regimen'])["Tumor Volume (mm3)"].mean()
tumor_median = clean_data_df.groupby(['Drug Regimen'])["Tumor Volume (mm3)"].median()


# variance, 
standard_deviation_tumor = round(clean_data_df.groupby(['Drug Regimen'])["Tumor Volume (mm3)"].std(),2)
SEM_tumor_volume = st.sem(clean_data_df["Tumor Volume (mm3)"])

# Assemble the resulting series into a single summary DataFrame.
per_regimen_tumor = pd.DataFrame({"Average Mean of Tumor Volumne": tumor_mean,
                               "Average Median of Tumor Volumne": tumor_median,
                               "Standard Deviaion of Tumor Volumne": standard_deviation_tumor,
                                  "SEM of Tumor Volumne": SEM_tumor_volume})
per_regimen_tumor

,Average Mean of Tumor Volumne,Average Median of Tumor Volumne,Standard Deviaion of Tumor Volumne,SEM of Tumor Volumne
Drug Regimen,,,,
Capomulin,40.675741,41.557809,4.99,0.205591
Ceftamin,52.591172,51.776157,6.27,0.205591
Infubinol,52.884795,51.820584,6.57,0.205591
Ketapril,55.235638,53.698743,8.28,0.205591
Naftisol,54.331565,52.509285,8.13,0.205591
Placebo,54.033581,52.288934,7.82,0.205591
Propriva,52.320930,50.446266,6.62,0.205591
Ramicane,40.216745,40.673236,4.85,0.205591
Stelasyn,54.233149,52.431737,7.71,0.205591
Zoniferol,53.236507,51.818479,6.97,0.205591

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, 
# and SEM of the tumor volume for each regimen
plt.hist(per_regimen_tumor["Tumor Volume (mm3)"])
plt.xlabel(Tumor Volume (mm3))
plt.ylabel("Drug Regimen")
plt.show()
# Using the aggregation method, produce the same summary statistics in a single line.

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

count_chart = count_road_types.plot(kind='bar', figsize=(6,8))

# Set the xlabel and ylabel using class methods
count_chart.set_xlabel("Road Type")
count_chart.set_ylabel("Number of Accidents")

plt.show()
plt.tight_layout()

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.
x_axis = clean_data_df["Drug Regimen"]
y_axis = clean_data_df.groupby(["Mouse ID"])["Timepoint"].sum()

plt.bar(x_axis, y_axis, color="blue")
plt.ylabel("Number of Mice Tested") 
plt.xlabel("Drug Regimen")

In [60]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas
gender_data = clean_data_df["Sex"].count()
gender_chart = clean_data_df["Sex"].count().plot(kind='pie', figsize=(6,8))
gender_data


# plt.show()
# plt.tight_layout()

AttributeError: 'numpy.int64' object has no attribute 'plot'

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
labels = ["Male", "Female"]
genders = [(clean_data_df["Sex"] == "male").count(), (clean_data_df["Sex"] =="female").count()]
colors = ["yellow","green"]
explode = (0,0)

plt.pie(genders, explode=explode, labels=labels, colors=colors, autopct="%1.1f%%", shadow=True, startangle=45)
# Create axes which are equal so we have a perfect circle
plt.axis("equal")
# Print the final product to the screen

plt.show()

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen